@import "tailwindcss";
@theme {
  --font-sans: var(--font-plus-jakarta), sans-serif;
}
button, input, select, textarea {
  font-family: inherit;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #0b0f19;
  color: #f3f4f6;
  overflow-x: hidden;
}